/**************/
/**  01 용   **/
/**************/

/**** PC 1980 ****/
.bg-color-b5c593{ background: #b5c593;}
.nav-wrap.nav-with-bg { background: #b5c593; }


.container .story-header { padding: 100px 0; }
.top-video-area .top-video {   max-width: 1500px;  max-height: 700px; overflow: hidden; border-radius: 30px; 
border: 3px solid #434a35; box-shadow: 15px 10px 0px #ffffff;background: #292d21;}
.top-video-area .top-video .video-tag video { width: 100%; height:100%; -o-object-fit: cover; object-fit: cover;}
.video-border { border:none;}
.video-tag.video-shadow { height: 650px; }
.story-top-feature { position: relative; }
.top-video-deco-behind { position: absolute; }
.top-video-deco-front { position: absolute; }

.top-deco-path {}
.top-deco-path img {}
.deco-path--01 {}
.deco-path--02 {}
.deco-path--03 {}

.story-title .title-sub { margin-bottom: 15px; }
.story-title .title-sub img { display:block; margin: 0 auto; }
.story-title .title-wrap { max-width: 1000px; }
.video-border { border:none;}
.story-title .title-main .title-svg svg path { fill:#fff;stroke: #fff;}
.title-para { display: block;margin: 15px auto;}
.title-para > img { display: block; margin: 0 auto;}

.container .story-body { position: relative; z-index:1; }
.para-holder { z-index: 1; }
.para-holder p span.sm { font-size: 16px; opacity:0.6; }
.para-holder p span.block { display:block; }
.para-holder p span.point { text-decoration: underline; }
img.img-shadow-bottom {  box-shadow: 20px 20px 0px #222;}
img.img-borderRadius {border-radius: 10px; }
img.img-frame { width:100%; box-sizing:border-box; padding: 10px; background:#111; box-shadow: 5px 5px 30px rgb(97 55 36 / 10%);}

#S01_01 { transform: rotate(-3deg) translate(-20px, 0px); -webkit-transform: rotate(-3deg) translate(-20px, 0px);
-os-transform: rotate(-3deg) translate(-20px, 0px); }
#S01_01 img { width: 1000px;}
.back-path-deco { position: absolute;width: 100%; }
.deco-path { fill:none; stroke: #111; stroke-width:1;stroke-miterlimit:10; }
.back-path-deco svg {   overflow: visible; width: 100%; }
.bpd--01 { top: 50px; }


.itv-video-line-deco { position: absolute; top: 50%; right: -100em; z-index:0;}
.itv-video-line-deco .line-body { width:100em; height:1px; background:#222; }
.itv-point-text { position: absolute;  z-index:2; }
.itv-point-text .text-as-img {  background: none;  }
.itv-point-text .text-as-img img {}

.itv--01 { max-width: 1300px; }
.itv--01 .itv-video-deco-curve { top: 50%; display:none;}
.itv--01 .video-tag.video-shadow-bottom { box-shadow:none; border-radius: 20px; overflow: hidden;} 
.itv--01 .itv-point-text {    top: 60%; right: -350px; }

.itv--02 { max-width: 1300px; }
.itv--02 .itv-video-deco-curve { top: 50%; display:none;}
.itv--02 .video-tag.video-shadow-bottom { box-shadow:none; border-radius: 20px; overflow: hidden;} 
.itv--02 .itv-point-text {  top: 60%; right: -450px; background: #efdb7c; padding: 10px;}

.sec-title {}

.img-holder-gallery { width: 100%; background: #c1b89f; padding: 100px 0; box-sizing: border-box;}
.gallery_title { display:block; margin: 20px auto; margin-bottom: 50px; }
.gallery-area { width:100%; box-sizing:border-box; padding: 80px 0; background:#222; position: relative;  }

.img-holder-col-02 { position: relative; display:block; max-width: 1100px;margin: 100px auto;}
.img-holder-col-02 > img {float: left; display:inline-block;  width: 48%; margin: 0px 1%;  box-sizing: border-box;}
.img-holder-col-02::after { clear:both; content:""; display:block; }

.img-holder-row-02 { position: relative; display:block; max-width: 900px;margin: 100px auto;padding: 10px; background: #ffc34e;}
.img-holder-row-02 > img { margin: 10px auto;  width: 100%; }

.img-holder-col-03 { position: relative; display:block; max-width: 1800px; margin: 100px auto;}
.img-holder-col-03 > img {float: left; display:inline-block; width: 32.9%; margin: 0px 0.2%;box-sizing: border-box;}
.img-holder-col-03::after { clear:both; content:""; display:block; }
.img-holder-col-03 .caption {display:none;}

.video-ie { z-index: 10; position: relative; width:100%; display:none; }
.video-ie iframe {  vertical-align: top;}
.video-holder h4 { text-align: center; margin-bottom: 15px; color:#222; font-size: 20px; font-weight:bold;display:none;}
.video-holder { width: 800px; margin: 100px auto; }
.video-holder .video-boxing { width:100%; height: 460px; background:#111; position: relative; border: 2px solid #222;  box-shadow: 10px 10px 0px #fff; }
.video-holder .des {color:#111; font-size: 15px; opacity: 0.4; width:100%; text-align: center;  padding: 20px 0; }
.video-holder .video-boxing iframe { width: 800px; height: 460px; } 
.blank {display: none; } 
.video-holder .temp { color:#111; opacity: 0.8; }
.bottom-video-title { display:block; margin: 20px auto; margin-bottom: 0px;   position: relative;top: 25px; z-index: 1;}

.video-photo-temp { display:none;}

.tt-slider {}
.tt-slider-des { text-align:center; margin-bottom: 20px; }

.fixed-navi .navi-body .bar .step-txt{width:150px; }
.fixed-navi .navi-body .bar .step-txt p { font-size: 10px; }
.fixed-navi .navi-body .bar .step-txt p.s00 {top: -1%; }
.fixed-navi .navi-body .bar .step-txt p.s01 {top: 12%; }
.fixed-navi .navi-body .bar .step-txt p.s02 {top: 60%; }
.fixed-navi .navi-body .bar .step-txt p.s03 {top: 85%; }

.title-svg-m { display:none; }
.hideme { opacity:0;}

.para-holder p span.point { display:none;}

.photo-fixed { background: url("../img/s03-04.jpg") no-repeat; background-size: cover;  background-attachment: fixed; }



 /* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

}
/* IE9,10 */
@media screen and (min-width:0\0){

}



/***** 노트북 *****/
@media screen and (max-width: 1380px) {


}

/***** 모바일 Portraits ****/
@media screen and (max-width: 800px) {

.img-pc { display:none; }
.img-m { display:block; }

.nav-top { background:none;}

.container .story-header { padding-top: 0px; padding-bottom: 0;}
.story-title .title-sub img { width: 300px; }
.title-svg-pc { display:none; } 
.title-svg-m { display:block; } 
.story-title .title-main { max-width: 330px;  margin: 20px auto; }

.story-header-with-video .spacer  {  width: 100%;box-sizing: border-box; padding: 0px 20px; }
.story-header-with-video .spacer .text-box {width: 100%;  left: 0; box-sizing: border-box;
padding-left: 0; background: #efdb7c; text-shadow: none;color: #111; font-size: 16.5px; line-height: 1.6; padding: 15px;}
.story-header-with-video .spacer .text-box span.jump { display: inline; }
.roof-pattern { width: 800px; margin-left: -400px;  top: -50px;}

.each-sec { margin-top: 0; padding-top: 30px 0; }
.img-holder > h2 { font-size: 16px; }

#S01_01 img { width:100%;}
#S01_01 { transform: none; }
img.img-frame { padding: 10px 0px;}



.text-as-img {  padding: 0; padding-left: 20px; margin: 40px 0; }
.text-as-img > img { width: 100%; }
.tai--01 { width: 240px; }
.fs-a--1 .slider-item img { width: 140%; left:-20%;}
.fs-a--1 .spacer .text-nobox .half { left:0;  padding: 8px 12px; text-align: left;}
.fs-a--2 .slider-item img { width: 150%; left:-25%;}
.fs-a--2 .spacer .text-nobox .half { left:0; padding: 8px 12px; text-align: left;}
.spacer .text-nobox p { font-size: 16px; }



.itv-holder  { margin: 40px 0; margin-top: 80px;}
.itv-holder .itv-point-text {position: relative; margin-top: 20px; bottom: 0; left: 0; right: 0;top:0; margin-left: 0;  }
.itv-holder .itv-point-text .text-as-img { margin: 0; box-shadow:none; background:none; padding: 0; }

.itv--01 {  padding-bottom: 20px; }
.itv--01 .itv-point-text .text-as-img { width: 230px; margin:0;  }
.itv--01 .itv-video-line-deco { bottom: 50px; }
.itv--01 .itv-video { border:none;}
.itv--01 .itv-video .video-tag {   border-radius: 10px;overflow: hidden;}

.itv--02 {  padding-bottom: 20px; }
.itv--02 .itv-video-line-deco { bottom: 50px; }
.itv--02 .itv-video { border:none;}
.itv--02 .itv-video .video-tag {   border-radius: 10px;overflow: hidden;}
.itv--02 .itv-point-text { padding: 0; }
.itv--02 .itv-point-text .text-as-img { width: 340px; margin:0;  } 

.video-holder h4 { font-size: 17px; }
.video-holder {  width:100%; box-sizing: border-box; padding: 0px 15px; margin: 55px auto; }
.video-holder .video-boxing { position: relative; height:auto; width:100%; box-shadow:none;}
.video-holder .video-boxing p { padding-top: 120px; }
.blank {display: block; position: relative; width:100%; height:auto; } 
.blank img { width:100%; height:auto; }
.video-holder iframe { position: absolute; top: 0; left:0;  }
.video-holder .temp { font-size: 13px; }
.bottom-video-title  { width:85%; max-width: 300px; margin: 20px auto;  top: 0;margin-bottom: 10px;}


.img-holder-col-02 { margin: 40px auto; box-sizing:border-box; padding: 0px 10px;}
.img-holder-col-02 > img { width: 100%; margin: 1% 0px;}
.img-holder-row-02 {margin: 40px auto; box-sizing:border-box;padding: 0px 10px; }



.photo-fixed { height: 300px; background-size: auto 500px;background-position: bottom center;
background-attachment: fixed;}



}


/****** 모바일 Landscape *****/
@media (max-width: 800px) and (orientation: landscape){

}


/**************/
/**  01 용   **/
/**************/