/**************/
/**  01 용   **/
/**************/

/**** PC 1980 ****/
.deco-curve-top-1 { position: absolute; top: 0; right: -220px;}
.deco-curve-top-2 { position: absolute; top: 200px; left: -50px;  }
.deco-line-box {position: relative;  position: absolute; width:100%; bottom: 80px;left: 0;}
.line-boxing { position: relative;width:100%; height:400px;  box-sizing: border-box; } 
.line-boxing .line-horizontal { position: absolute; width:100%; height:1px; bottom:0; left:0; right:0;}  
.line-boxing .line-horizontal .line-body { height:100%; background:#222; width: 0%; } 
.line-vertical {position: absolute; top: 0; right: 20%; height: 100%; width: 1px; background: #222; }
#CURVE_BOX_SIDE { position: relative;}
#CURVE_BOTTOM { position: relative;}
.deco-curve-bottom { position:absolute; left:20%;top:-50px;display:none;}
.intro-path-ani path { stroke-dasharray: 1500px; stroke-dashoffset: 1500px; }
#CURVE_BOX_SIDE path { stroke-dasharray: 500px; stroke-dashoffset: 500px;}
.line-vertical { height:0%; }

.itv--01 { max-width: 1300px; }
.itv--01 .itv-video-deco-curve { top: 50%; }

.itv-video-line-deco { position: absolute; top: 50%; right: -100em; z-index:0;}
.itv-video-line-deco .line-body { width:100em; height:1px; background:#222; }
.itv-point-text { position: absolute; top: 60%; right:-220px; z-index:2; }
.itv-point-text .text-as-img {  background: #efeadc; }
.itv-point-text .text-as-img img {}

#S01_IMG_DECO_CURVE .path-curve-down {}
#S02_03 { margin-bottom:0;}
#S02_04 { top: 0px; left:150px; margin-bottom:0; transform: translateY(-100px);}
#S02_04 .img-side-text {display: block; bottom: 100px; right: 500px; width: 400px;} 
#S02_04 .img-side-text .path {width: 150%; height: 1px; background: #222;margin-bottom: 20px; z-index: 1; position: relative;}
#S02_04 > img { position: relative; z-index: 2;}

#S03_01 { right: 150px; position: relative;}
#S03_01 .img-side-text { display: block; bottom: 50px; left: 350px; width: 600px;} 
#S03_01 .img-side-text .text-holder {  box-sizing: border-box; padding: 20px; background:#111; }
#S03_01 .img-side-text .text-holder img { width:100%; }
.fs-a--3 .fixed-graphic .slider-item img {  width: auto; height: auto; min-height: inherit;  top: 50%; margin-top: -300px;}

.itv--02 {  max-width: 1300px;}
.itv--02 .itv-video {}
.itv--02 .video-tag {  z-index: 2;position: relative;}
.itv--02 .itv-video-line-deco {  right: 0px; top: 150px; bottom: auto;}
.itv--02 .itv-point-text { top: 40%; right: -320px;}
.itv--02 .itv-point-text .text-as-img {background: #111;}
.itv--02 .go-itv-full {}

.photo-fixed { background: url("../img/bottom-full-photo.jpg") no-repeat; background-size: cover;  background-attachment: fixed; }




 /* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

}
/* IE9,10 */
@media screen and (min-width:0\0){

}



/***** 노트북 *****/
@media screen and (max-width: 1380px) {


}

/***** 모바일 Portraits ****/
@media screen and (max-width: 800px) {


}


/****** 모바일 Landscape *****/
@media (max-width: 800px) and (orientation: landscape){

}


/**************/
/**  01 용   **/
/**************/