/********* RESET********/
* { margin:0;  padding:0; }
ol,ul { list-style:none; }
a { outline:0; text-decoration:none; color:#555; }
img { border:0; vertical-align:bottom; }


/* noto-sans-kr-regular - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('noto-sans-kr-v12-korean-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
       url('noto-sans-kr-v12-korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('noto-sans-kr-v12-korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('noto-sans-kr-v12-korean-regular.woff') format('woff'), /* Modern Browsers */
       url('noto-sans-kr-v12-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('noto-sans-kr-v12-korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: bold;
  font-weight: 700;
  src: url('noto-sans-kr-v12-korean-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
       url('noto-sans-kr-v12-korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('noto-sans-kr-v12-korean-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('noto-sans-kr-v12-korean-700.woff') format('woff'), /* Modern Browsers */
       url('noto-sans-kr-v12-korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('noto-sans-kr-v12-korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}


/*-------------------------------------*/
/******** 전체 기본 CSS - PC 기준********/
/************* 2020 YJ *************/
/*-------------------------------------*/

html {}
body { background: #fff;  position: relative; letter-spacing: -0.02em; font-family: 'Noto Sans KR', 'notokr-regular', 'Apple SD Gothic Neo','맑은 고딕', Malgun Gothic, '돋움', Dotum, Helvetica, AppleGothic, Sans-serif; }
body.fixed { height:100vh; overflow-y: hidden; }



/* loading */
.loading-page { width: 100%; height: 100%; height: 100vh;background:#111; 
position: fixed; z-index: 100; left: 0px; top: 0px; right:0px; bottom: 0px; overflow:hidden; }
.loading-gif { width: 100%; height: 150px;position: absolute; top: 50%;margin-top: -100px; }
.loading-gif > p {  text-align: center; color: #fff; margin-top: 20px; font-size: 14px; opacity: 0.5; 
font-family: sans-serif; font-weight: bold;}
.spinner {margin: 0px auto;width: 70px; text-align: center; }
.spinner > div {width: 18px;height: 18px;background-color: #fff;border-radius: 100%;display: inline-block;
-webkit-animation: sk-bouncedelay 1.4s infinite ase-in-out both; animation: sk-bouncedelay 1.4s infinite ease-in-out both;}
.spinner .bounce1 {  -webkit-animation-delay: -0.32s; animation-delay: -0.32s;}
.spinner .bounce2 {  -webkit-animation-delay: -0.16s;animation-delay: -0.16s;}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
  -webkit-transform: scale(0)
  }
  40% {
  -webkit-transform: scale(1.0)
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.loading-ment { text-align: center;  margin-top: 10px; font-weight: normal; color: #fff;letter-spacing: 2px;}
.after-load { display: block;}

::selection { background: #ff9c34; color: #111; text-shadow: none; }
::-moz-selection {background: #ff9c34; color: #111; text-shadow: none; }
::-webkit-selection {background: #ff9c34; color: #111; text-shadow: none; }

/*****IE 블락******/
.ie-block {  z-index: 99999; width:100%; height:100vh; background:#111; background: rgba(21, 21, 21, 0.9);position:fixed; top:0;left:0;bottom:0;right:0;}
.ie-block .alert-msg { position: absolute; background:#fff; box-sizing: border-box; padding: 25px; border-radius: 5px; 
box-shadow: 2px 2px 8px rgba(152, 153, 156, 0.2);width: 50%; left:25%; top: 50%; margin-top:-150px; }
.ie-block .alert-msg p { margin-bottom:8px;  text-align: center; color: #454750;font-size: 20px; }
.ie-block .alert-msg button {    display: block; width: 80%; margin: 0px auto;margin-top: 20px;
box-sizing: border-box;  padding: 10px; background: #ececf1;  border-radius: 4px; color: #565661; font-weight: bold; font-size: 14px; cursor: pointer; border: 1px solid #dedee2; letter-spacing: -0.05em; }

/* Header */
.interactive-header {  background: rgba(0,0,0,0.85); position: fixed;padding: 0px 7px;box-sizing: border-box;top: 0px; left: 0px; width: 100%; height:  32px; z-index: 100;}
.interactive-header .headerWrap { width: 100%; height: 100%; }
.interactive-header .header_container { margin: 0 auto; width: 100%; height: 100%; position: relative; overflow: hidden; }
.interactive-header .header_container .toggle-btn{ display:none; } 
.interactive-header .khan_btn { float: left;  transition:all 0.5s ease 0s; }
.interactive-header .khan_btn img { width:60px; height: auto; margin-top: 8px; opacity:0.7;}
.interactive-header .khan_btn:hover { opacity: 1; }
.interactive-header .share_bx { float: right;position: relative; top: -3px; }
.interactive-header .share_bx span {pos ition: relative;  width: 22px; height: 40px;  cursor: pointer; }
.interactive-header .share_bx span img  { transition:all 0.4s ease 0s; opacity: 0.8; filter: alpha(opacity = 80); width: 24px; }
.interactive-header .share_bx span:hover > a > img { opacity:1; filter: alpha(opacity = 100); }
.top-title {  position: absolute; left: 50%; margin-left: -60px; width: 120px; height: auto;  }
.top-title img {  width: 120px; margin-top: 12px; opacity:0.5; }
.share_bx span .user-count { position: absolute; bottom: 18px; left: -20px; font-size: 13px;  color: #b2b2b2;font-style: normal; letter-spacing: 0px; }
.share_bx span:hover > img { opacity:1; filter: alpha(opacity = 100); }
/* Header */

/* common */
.wrap-psrelative, .wrap_psrelative { width: 100%; height :100%; position: relative; }
.wrap_mw_1000 { max-width: 1000px; margin: 0 auto; }
.wrap_mw_1100 { max-width: 1100px; margin: 0 auto; }
.wrap_mw_1200 { max-width: 1200px; margin: 0 auto; }
.wrap_mw_650 { max-width: 650px; margin: 0 auto; }
.wrap_mw_550  { width: 100%; height: 100%; position: relative;  max-width: 550px; margin: 0 auto;}
.noise { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: url("http://img.khan.co.kr/spko/storytelling/2016/republic/noise2.png") top left repeat; }
.cover-pattern { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2017/nohate/overptn.png") repeat; }
.cover-pattern2 { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2018/korea/pattern2.png") repeat; }
.cover-shadow { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2017/nohate/black50.png") repeat; }
.cover-shadow2 { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2017/nohate/black65.png") repeat; }
.cover-shadow3 { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2017/nohate/black65.png") repeat; }
.cover-shadow4 { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: rgba(0,0,0,0.85); }
/* common */

/* common_header */
.common_header {  width: 100%;  position: relative; position:absolute; top:-160px; box-shadow: 0px 0px 20px rgba(102, 103, 107, 0.15); border-bottom: 1px solid #cdd1d6;   z-index: 1;background: #fff;}
.common_header .top_area_holder{ width: 100%;  height: 30px; background: #f5f5f5; }
.common_header .top_area {  width: 1050px; margin: 0 auto; height: 30px;  line-height: 29px; overflow: hidden; font-size: 12px;}
.common_header .top_area .family_site {  float: left;margin: 0;}
.common_header .top_area .family_site dd a {  color: #898989; font-size: 12px; }
.common_header .top_area .family_site dd span { color: #dfdfdf; padding: 0 2px; font-size: 12px;}
.common_header .top_area .membership {  float: right; }
.common_header .top_area .membership dd { float: left; margin-right: 6px;  padding-right: 4px;}
.common_header .top_area .membership dd a.log {font-weight: bold;color: #3b57c4; }
.common_header .top_area .membership dd span {  color: #dfdfdf;padding: 0 1px; font-size: 12px; }
.common_header .top_area  .membership dd a { color: #898989;font-size: 12px;}
.common_header .logo_area { width: 1050px;  margin: 0 auto; border-bottom: none; height: 124px;position: relative;}
.common_header .sec_title {  font-size: 38px;letter-spacing: -2px;line-height: 50px;text-align: center;  padding-top: 30px;}
.common_header .sec_title a { color:#111; }
.common_header .sub_logo { position: absolute; top: 21px;  left: 0; z-index: 5;}
.common_header .sub_logo a {  background: url("http://img.khan.co.kr/spko/sub_2016/sub_logo.png") no-repeat scroll 0 0; width: 134px;height: 31px; display: block;text-indent: -9999px;}
.common_header  .logo_area .sns_wrap {  position: absolute;top: 84px; right: 0;  z-index: 30;}
.common_header .logo_area .sns_wrap .social li { float: left;background: url("http://img.khan.co.kr/spko/main_2015/set_common.png?v=20180927") no-repeat scroll 0 0 transparent;
width: 27px; height: 30px;}
.common_header  .logo_area .sns_wrap .social li.facebook {  background-position: 0 0; margin-right: 5px;}
.common_header  .logo_area .sns_wrap .social li.twitter { background-position: -32px 0; margin-right: 6px;}
.common_header  .logo_area .sns_wrap .social li.instagram {  background-position: -121px 0;margin-right: 4px;}
.common_header  .logo_area .sns_wrap .social li.youtube {  width: 35px; background: url("http://img.khan.co.kr/spko/main_2015/icon_header_youtube.png") no-repeat scroll 0 0 transparent;
 background-position: 0 0; margin-right: 14px;}
.common_header .logo_area .sns_wrap .social li a { display: block; width: 27px;   height: 30px;text-indent: -9999px;}
/* common_header */


#header-m { display:none; }
.art_header { display:none; }
.common-footer #footer-m { display:none;}
.header { display:none; }
.wrap { width:100%;  position: relative;  }
.container {  width:100%; position: relative; overflow-x: hidden;}
.bg-color-fdf9ee { background:#fdf9ee; }

/* project top navigation  */
.nav { width: 100%; }
.nav-top {position: fixed; top:0; left:0;  z-index: 99; height: 56px; }
.nav-wrap {width:100%; position: relative;transition:all 0.3s ease 0s; }
.nav-project-logo {padding: 10px 0px; width: 350px; height:30px;  margin: 0 auto; cursor: pointer; }
.nav-project-logo a { cursor:pointer;display: block; }
.nav-project-logo a img {width: 60px; display: block; margin: 0 auto;  box-sizing: border-box; }
.nav-project-logo #PROJECT_LOGO { width: 350px; height:30px;}
.nav-project-logo #PROJECT_LOGO path { transition: fill 0.5s ease 0s; stroke-dasharray: 200;  stroke-dashoffset: 200;fill: none; stroke: #111;
animation: dash 5s infinite linear alternate; }
.nav-project-logo.logo-ani #PROJECT_LOGO path {animation: dash 5s infinite linear alternate;}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.nav-project-logo #PROJECT_LOGO path { fill: transparent; }
.nav-project-logo:hover #PROJECT_LOGO path {  fill: #fff; /* fill:#222; */ }
.nav-wrap.nav-with-bg {  background: #efeadc;  }

/* .nav-black #PROJECT_LOGO path { stroke: #fff; } */
.nav-black .nav-wrap.nav-with-bg { background:#111; backgroun}
/* project top navigation  */

/* stroy intro  */
.container {}
.container .story-header {  width: 100%; box-sizing: border-box; padding: 150px 0;    position: relative;}
.story-header-line-deco { position: absolute; top: 0; left: 0; width: 100%;   height: 100%;}
.deco-curve {}
.deco-curve svg { overflow:visible;}
.deco-curve svg path { stroke: #222; stroke-width: 1px; fill: none; }

.story-top-feature {}
.top-video-area { position: relative;}
.top-video-area .top-video { position: relative;   max-width: 1300px;  margin: 0 auto; display: block;}
.top-video-area .top-video .video-cover {position: absolute;width:100%; height:100%; top: 0;left: 0; background: rgba(222,213,189,0.3);opacity:0;}
.video-tag.video-shadow { box-shadow: 20px -20px 0px #222;}
.video-border { border: 1px solid #222; }
.video-tag { position: relative;}
.video-tag video { width:100%; vertical-align: top;}
.video-tag.video-shadow-bottom { box-shadow: -20px 20px 0px #222; }
.top-video-area .cover-text {position: absolute; top: 50%; margin-top:-40px; left: 0; width: 100%;}
.top-video-area .cover-text .text-holder { width: 100%; text-align: center;position: relative; }
.top-video-area .cover-text .text-holder > p { font-family: 'Noto Serif KR', 'notokr-regular', serif; text-align: center; 
color: #fff;  font-size: 20px;  font-weight: bold; text-shadow: 0px 0px 5px rgba(0,0,0,0.7); }

.story-title { width: 100%; box-sizing: border-box; padding: 50px 30px;}
.story-title .title-wrap { max-width: 900px;  margin: 0 auto;}
.story-title .title-sub { padding-left: 40px; }
.story-title .title-main { margin-top: 10px; }
.story-title .title-main .title-svg {}
.story-title .title-main .title-svg svg {}
.story-title .title-main .title-svg svg path { fill: #222; fill-opacity: 0.1; stroke-width: 0.2; stroke: #222;stroke-opacity: 1; stroke-dasharray: 150;  stroke-dashoffset: 150;}
.story-title .title-main .title-svg svg path.active { fill-opacity: 1; stroke-opacity: 1; stroke-dashoffset: 0;}
/* stroy intro  */


/* stroy body  */
.container .story-body {min-height:4000px;}
.section-list { position: relative; display: block; width: 100%;}
.each-sec { margin-top: 50px; box-sizing:border-box; padding: 50px 0; }
.sec-title {}
.sec-title .numb { font-family: 'Noto Serif KR', 'notokr-regular', serif; width: 100%;text-align: center; font-size: 50px; letter-spacing: -0.1em;line-height: 1.05em; color: #111; font-weight: 600;  }
.sec-title .title {  font-family: 'Noto Serif KR', 'notokr-regular', serif; width: 100%; font-size: 34px; font-weight:bold; color: #111;text-align: center;  }
.sec-title .subtitle { display:none; color: #111; text-align: center;font-size: 15px; line-height: 24px;font-weight:normal;}
.sec-title {  position: relative;margin-bottom: 50px;}
.title-as-img { display:none;}

.para-holder { margin: 70px auto;font-family: 'Noto Serif KR',  'notokr-regular'; position: relative;}
.para-holder p {font-size: 20px;  max-width: 550px; text-align: left; color: #222; margin: 20px auto;  line-height: 1.7; letter-spacing: -0.3px; word-break: keep-all;  }
.para-holder p span.semi { font-size: 16px; opacity:0.85; }
.para-holder p.sm {   font-size: 16px; opacity: 0.85;}
.para-holder p.strong { font-weight:bold;}

.itv-holder { width:100%;position:relative; margin: 120px auto; }
.itv-video { position:relative;  }
.itv-video .video-tag video { width:100%; }
.video-mx-md  { max-width: 900px; }
.itv-holder .go-itv-full {position: absolute; width: 300px; bottom: -50px;left: 50%; margin-left: -150px;}
.itv-holder .go-itv-full p { transition:all 0.3s ease 0s; cursor: pointer; position: relative; left:0; text-align: center; font-size: 15px; color:#222; color: #38342c; font-weight:bold; opacity: 0.5; }
.itv-holder .go-itv-full:hover > p { opacity:1; left: 5px; }
.itv-video-deco-curve { position: absolute;width: 100%; }
.itv-video-deco-curve svg {  width: 100px;display: block;  overflow: visible;  margin: 0 auto;}
.itv-video-deco-curve svg path {}

.img-holder { margin: 100px auto; position: relative; }
.img-holder > h2 {  font-size: 20px;text-align: center; }
.img-holder > p.sm {  font-size: 14px; opacity: 0.7; text-align: center; }
.img-holder .caption { text-align: center; text-align: left; max-width: 600px; margin: 20px auto; font-size: 14px; line-height: 1.5;opacity: 0.85; }
.caption { text-align: center; max-width: 600px; margin: 20px auto; font-size: 14px; line-height: 1.5;opacity: 0.85; }
.img-holder > img { display:block; margin: 0 auto; position: relative;  z-index:1; }
.img-holder-full { width:100%; margin: 100px auto;}
.img-holder-full > img{ width:100%; }

.img-holder .img-side-text {  position: absolute; }
.img-holder .img-side-text .text-holder {}
.img-holder .img-side-text .text-holder p {  font-size: 16.5px;line-height: 1.6;word-break: keep-all;}

.img-text-col-holder { max-width: 1100px; margin: 50px auto; display:table;}
.img-text-col-holder > div { display: table-cell; vertical-align: bottom;}
.img-text-col-holder .col-left { }
.img-text-col-holder .col-right {  width: 60%;  padding-left: 50px; box-sizing: border-box; }
.col-img img {max-width: 450px; }
.col-text {}
.col-text .para-holder {margin: 0;}
.img-holder-float-top {  position: relative; top: -120px; margin-top:0;}

.deco-curve-holder { position: absolute; width:100%;  z-index: 0;}
.deco-curve-holder .deco-curve { position: relative; width:100%;  max-width: 100px; margin: 0 auto;}
.deco-curve-holder .deco-curve > svg { position: relative; }

.fixed-slider-area { width: 100%; position: relative; transition:all 0.7s ease 0s;  margin: 100px auto;}
.fixed-slider-area .fixed-el { transition:all 0.7s ease 0s;  z-index:1;position: absolute; top: 0;width: 100%; height: 100vh;  }
.fixed-slider-area .fixed-el-fixed { position: fixed; top:0;  box-sizing: border-box; border: 20px solid #111;  z-index: 2;} 
.fixed-slider-area .fixed-el .video-fullScreen {}
.fixed-slider-area .fixed-el-bottom { position: absolute; top: auto; bottom:0; z-index:4; }
.fixed-slider-area .fixed-el-bottom .video-fullScreen {}
.video-fullScreen { width:100%;  height: 100vh; }
.video-fullScreen video { width: 100%;  height: 100%; }
.sder-bck { background:#111;} 

.spacer-holder { position: relative; z-index:3; }
.spacer { width: 100%; height: 100vh; display: block; }
.spacer .text-box {  font-family: 'Noto Serif KR',  'notokr-regular';  box-shadow: 5px 5px 15px rgba(0,0,0, 0.05);   color: #222; background: #fff; padding:25px 30px; max-width: 350px; margin: 0 auto; letter-spacing: -0.02em; font-size: 17.5px; line-height: 1.4; font-weight: bold;word-break: keep-all; text-align: center;border-radius: 2px;}
.spacer .text-box p { margin: 5px 0; }
.spacer-right .spacer .text-box { position: relative; left: 400px; }
.spacer-transparent { height:10px;}

.twentytwenty-handle { background: rgba(0,0,0,0.7);}

.fixed-flow-border { margin: 100px auto; border-top: 1px solid #222; border-bottom: 1px solid #222; background: #fff; position: relative; }
.fixed-flow-border-fixed { position:fixed; top:0;left:0; }
.fixed-flow-col-area { position: relative; width: 100%; overflow:hidden;  }
.flow-col { float:left; }
.fixed-col {  position: absolute; top: 0; right: 0;}
.fixed-flow-col-area .col-left { width: 50%; }
.fixed-flow-col-area .col-right { width: 50%; }
.fixed-flow-col-area::after { clear: both; content:''; display:block; }
.fs-a { margin: 100px auto; border-top: 1px solid #222; border-bottom: 1px solid #222; background: #fff; position: relative;  }
.fs-a .fixed-el-fixed { border:none;}
.fixed-graphic {}
.fixed-graphic .slider-item { width: 100%; height: 100%; position: absolute; top:0; right:0;}
.fixed-graphic .slider-item img {  width: auto; height: 100%;   position: relative; left: 50%; width:100%; min-height: 100%;}

.fixed-slider-horizon {  background: none; border: none;margin: 0px auto;}
.fixed-slider-horizon .fixed-graphic .slider-item {}
.fixed-slider-horizon .fixed-graphic .slider-item img {width: 100%; left:0; height:auto; min-height:auto; top: 50%;}
.fixed-slider-horizon .spacer .text-nobox .half {  width: 100%; max-width: 600px; margin: 0 auto; text-align: center; word-break: keep-all; padding-right: 0;
box-sizing: border-box;padding: 5px 25px;  background: #fff;}

.spacer .text-nobox { font-family: 'Noto Serif KR',  'notokr-regular';  max-width: 1600px; margin: 0 auto; letter-spacing: -0.02em; font-size: 17.5px; font-size: 20px; line-height: 1.7; font-weight: bold; word-break: keep-all; text-align: left;  box-sizing: border-box; padding: 0px 50px; }
.spacer .text-nobox .half { width: 50%;  box-sizing: border-box; padding-right: 100px;}
.spacer .text-nobox p {  margin: 20px auto; }
.spacer .text-nobox .text-in-img {  margin-top: 20px; max-width: 600px; }
.spacer .text-nobox .text-in-img img { }
.text-nobox p.border-top { border-top: 1px solid #111; padding-top: 30px;}

.fs-black { }
.fs-black .spacer .text-nobox { color: #f5e7d9; color:#222; }
.fs-black .spacer .text-nobox .half { background:#111;background:#fff3e5; }
.fs-black .fixed-el-fixed { background:#111;}

.tt-slider { width:900px; margin: 30px auto;}
.twentytwenty-container img { width:100%; }

.fixed-slider-img-full {}
.fixed-slider-img-full .slider-item img { width: 100%; left: 0;}
.fixed-slider-img-full .spacer .text-nobox { color:#111;  font-size: 18px;} 
.fixed-slider-img-full .spacer .text-nobox .half { max-width: 600px; word-break: keep-all; padding-right: 0;
box-sizing: border-box;padding: 5px 25px;  background: #fff; background:#fff3e5;  }




/*****footer*****/
.bottom-full-photo { width: 100%; height: 350px; background:#333; position: relative; }
.over-text { position: absolute; top: 50%; margin-top: -20px; text-align: center; color:#fff; font-size: 16px; font-weight:bold;  }
.container .project-common-footer { width:100%; min-height:100px; background:#111; background: linear-gradient(160deg,#171717 26%,#3e3631); color:#fff; position: relative; }
.project-common-footer .footer-wrap { width: 100%; box-sizing: border-box; padding: 30px; text-align: center; }
.project-common-footer .project-desc { margin: 10px 0px; }
.project-common-footer .project-desc p { font-family: 'Noto Serif KR', 'notokr-regular'; font-weight: bold; font-size: 15px; color:#fff; opacity: 0.8; }
.project-common-footer .conts-makers { margin: 10px 0px; }
.project-common-footer .conts-makers p { font-size: 14px; margin: 2px 0; color:#fff;  color: #a9a8a5; }
.project-common-footer .conts-makers p .role { margin-right: 10px;font-weight:bold; }
.project-common-footer .conts-makers p .com_name { }
.project-common-footer .conts-makers p a { color: #a9a8a5; }
.project-common-footer .conts-makers p a:hover { text-decoration: underline; }
.project-common-footer .brand-logo { margin-top: 40px; }
.project-common-footer .brand-logo .each-brand { margin: 10px 0;}
.project-common-footer .brand-logo .each-brand img {  }
.brand-kcdf img { width: 250px; }
.brand-kh img {}
.project-common-footer .footer-copy { font-size: 12px; opacity: 0.5;}
/*****footer*****/

/** fixed Navi **/
.fixed-navi {position: fixed; right: 10px;top: 50%;margin-top: -250px; right: -200px;
font-family: 'Noto Sans KR', 'notokr-regular', 'Apple SD Gothic Neo','맑은 고딕'; z-index: 99;}
.fixed-navi .navi-body { height: 500px;}
.fixed-navi .navi-body .bar { height:100%; width:2px; width: 4px; background:#fff; background: rgba(0,0,0,0.2); position: relative; }
.fixed-navi .navi-body .bar .progress { position: absolute; background: #222; width:100%; height: 0%; top:0px; left:0px; }
.fixed-navi .navi-body .bar .step-txt { position: absolute; top:0px; right:0px; width: 130px;  height: 100%; text-align: right; box-sizing: border-box; padding-right: 20px; }
.fixed-navi .navi-body .bar .step-txt p {  font-size: 11px;line-height: 20px; color:#111;  text-shadow: 1px 1px 1px #fff;opacity: 0.8;  
 position: absolute; right: 10px; letter-spacing: 0;  font-weight: bold;}
.fixed-navi .navi-body .bar .step-txt p.on { opacity:1; }

/** fixed Navi **/



 /* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.nav-project-logo.logo-ani #PROJECT_LOGO path { animation: none; stroke-dasharray: 0; stroke-dashoffset: 0; fill:#fff;  }
}
/* IE9,10 */
@media screen and (min-width:0\0){

.nav-project-logo.logo-ani #PROJECT_LOGO path { animation: none; stroke-dasharray: 0; stroke-dashoffset: 0; fill:#fff;  }
 
}



/***** 노트북 *****/
@media screen and (max-width: 1380px) {

.top-video-area .top-video { max-width: 1050px; }
.video-tag.video-shadow { height: 550px; overflow:hidden; }
.sec-title .title { font-size: 28px; }
.story-title .title-wrap { max-width:700px; }
.video-mx-md { max-width: 750px; 



}

/***** 모바일 Portraits ****/
@media screen and (max-width: 800px) {
.img-pc { display:none; }
.img-m { display:block; }
.video-pc { display:none; }
.video-m { display:block; }
.fixed-navi { display:none; }
span.jump { display:block; }

.nav-project-logo { padding: 5px 0px; width: 250px; height: 20px; }
.nav-project-logo #PROJECT_LOGO {  vertical-align: top;width: 100%;height: auto; }
.nav-project-logo #PROJECT_LOGO path { fill: #fff; }

.container .story-header {  padding: 50px 0; }
.story-top-feature { position: relative;width: 100%; box-sizing: border-box; padding: 0px 15px;}
.top-video-area { position: relative;width: 100%;}
.video-tag.video-shadow { box-shadow: 7px -7px 0px #222; }

.story-title { padding: 20px 30px; }
.story-title .title-sub { padding: 0; }
.story-title .title-sub img { display:block; margin: 0 auto; width: 220px;}

.sec-title { box-sizing: border-box;padding: 0px 15px;}
.sec-title .title { font-size: 20px; line-height: 1.6; margin-top: 5px; }

.para-holder {width: 100%;  margin: 40px auto; }
.para-holder p  { font-size: 18px; line-height: 1.7; box-sizing: border-box;  padding: 0px 12px;}
.para-docu p.sm { font-weight: normal; font-size: 15px; font-style: normal; line-height: 1.5;opacity: 0.6;}

.img-holder {  margin: 40px auto;}
.img-holder > img { width:100%; }
.img-holder-full  { margin: 40px auto;}
.img-holder .caption { font-family: 'Noto Sans KR', 'notokr-regular', 'Apple SD Gothic Neo','맑은 고딕';
 font-size: 12px; width: 100%;box-sizing: border-box;padding: 0px 12px;word-break: keep-all; margin: 8px 0; } 
img.img-shadow-bottom {  box-shadow: 7px 7px 0px #222; }
.tt-slider .caption { font-family: 'Noto Sans KR', 'notokr-regular', 'Apple SD Gothic Neo','맑은 고딕'; text-align: left; 
 font-size: 12px; width: 100%;box-sizing: border-box;padding: 0px 12px;word-break: keep-all; margin: 8px 0; } 

.itv-holder {  width: 100%; box-sizing: border-box; padding: 0px 15px;  margin: 80px auto; margin-bottom: 180px;}
.itv-holder .go-itv-full {bottom: auto; top: -30px; left: 0; margin-left: 0;  }
.itv-holder .go-itv-full p { font-size: 13px; text-align: left; } 
.itv-point-text .text-as-img img { width: 100%; }

.spacer .text-nobox { font-size: 16px;  padding: 0px 30px;  }
.fixed-slider-horizon .spacer .text-nobox .half { text-align: left; }
.fixed-slider-img-full .spacer .text-nobox .half {  width: 100%; max-width: inherit;}
.fixed-slider-img-full .spacer .text-nobox { font-size: 16px; }
.spacer .text-nobox .half {  width: 100%;  padding-right: 0; }
.spacer .text-nobox .text-in-img { width:100%; }
.spacer .text-nobox .text-in-img img { width:100%; }

.tt-slider { width: 100%; box-sizing: border-box;  padding: 0px 15px;}

.project-common-footer .conts-makers p { font-size: 12.5px; }
.project-common-footer .footer-wrap { padding: 30px 12px; }


}


/****** 모바일 Landscape *****/
@media (max-width: 800px) and (orientation: landscape){


}
