/**************/
/**  02 용   **/
/**************/

/**** PC 1980 ****/

.container .story-header { padding-top: 80px; }
.bg-color-f5e7d9  {  background:#f5e7d9; }
.nav-wrap.nav-with-bg { background: #d8c5b3; }
.top-video-area .top-video  { display:none; display:block; }
.photo-temp {display:none; position: relative; max-width: 1500px; margin: 0 auto; border-top: 1px solid #111; border-bottom: 1px solid #111; display:none;}
.video-photo-temp img { width:100%; }
.story-title .title-sub { margin-bottom: 15px; }
.story-title .title-sub img { display:block; margin: 0 auto; }
.intro-desc {margin-top: 15px; } 
.intro-desc img { display:block; margin: 0 auto;} 

.back-path-deco { position: absolute;width: 100%; }
.title-deco-path { fill:none; stroke: #111; stroke-width:1;stroke-miterlimit:10; }
.back-path-deco svg {   overflow: visible; width: 100%; }
.bpd--01 { top: 100px; }
.bpd--02 { top: 250px; } 

#S01_01 { margin: 0 auto; }
img.img-shadow-bottom {  box-shadow: 20px 20px 0px #222;}

.text-as-img { margin: 70px auto;max-width: 550px;  box-sizing: border-box;  padding: 10px;}
.tai--01 {}

.itv--01  { max-width: 1350px;  margin-bottom: 100px;  }
.itv--01 .itv-video .video-tag { }
.itv--01 .video-photo-temp {position: relative; display:none;} 
.itv--01 .video-mx-md {  max-width: 950px; }
.itv--01 .itv-video {  float: right;}
.itv--01::after { clear: both; content:""; display:block; }


.itv--01 .itv-video-line-deco { position: absolute;  z-index:0; right: auto; left: -100em;top: auto; bottom: 12em;}
.itv-video-line-deco .line-body { width:100em; height:1px; background:#222; }
.itv--01 .itv-point-text {position: absolute;z-index:2;  top: auto; left:50%; margin-left: 300px; bottom: -100px;
 bottom: 50px; left: auto; margin-left: 0;right: 50%; margin-right: 300px;}  
.itv--01 .itv-video .video-tag { box-shadow: 15px 15px 0px #222; box-shadow: none;}
.itv--01 .itv-point-text .text-as-img { background: #f5e7d9; box-shadow: 10px 10px 0px #222;}
.itv--01 .go-itv-full { left: 0;  margin-left: 0;}
.itv--01 .go-itv-full p { text-align: left; }


.deco-curve { position: relative; width:100%; }
.deco-curve-top-1 {}
.deco-curve-top-1 svg { position: absolute; top: 0px; right: 0;}
.deco-curve-top-2 {}
.deco-curve-top-2 svg { position: absolute; top: 0px; left: 0;}

.img-holder-gallery h4 { text-align: center; font-size:20px; } 
.gallery-slider { width:100%; margin-top: 20px; box-sizing: border-box; }
.gallery-slider .slider-wrapper { width: 100%; max-width: 700px;  height:485px; margin: 0 auto; position: relative;  }
.slider-body { overflow: visible; width: 100%;  position: relative; top:0; left:0; }
.slider-body ul {  position: relative; top:0; left:0; }
.slider-body ul li { transition: all 0.3s ease 0s; position: relative;  width: 700px; min-height: 400px; 
float: left; display: inline-block;  box-sizing: border-box;  opacity:0.2;transform: scale(0.9);}
.slider-body ul li.slider-item-on{ opacity:1; transform: scale(1);box-shadow: 5px 5px 20px rgba(78, 71, 68, 0.5);} 
.slider-body ul li > img { width: 100%; }
.gallery-slider .arrow { z-index: 2; }
.gallery-slider .arrow img { width:100%; opacity:0.6;  }
.gallery-slider .arrow:hover > img { opacity:1; }
.gallery-slider .prev {position: absolute; top: 50%; margin-top: -15px; left: -30px; cursor: pointer;width: 20px; }
.gallery-slider .next {position: absolute; top: 50%; margin-top: -15px; right: -30px; cursor: pointer;width: 20px;}
.gallery-slider .arrow-block { pointer-events: none; }
.img-holder-gallery .caption { text-align: center;}
.in-para-title { font-size: 22px; max-width: 550px; text-align: left; margin: 30px auto;}


#S01_04 img { width:100%; box-sizing:border-box; padding: 10px; background:#fff;  
transform: rotate(-4deg) translate(-80px, 0px); -webkit-transform: rotate(-4deg) translate(-80px, 0px);
-os-transform: rotate(-4deg) translate(-80px, 0px); max-width: 700px;transform-origin: center; box-shadow: 5px 5px 30px rgb(97 55 36 / 10%);}

#S01_08 { margin: 40px auto;}
#S01_08 img {max-width: 550px;}
#S01_08 .caption { text-align: center;} 

#S01_09 img { width:100%; box-sizing:border-box; padding: 10px; background:#fff;  
transform: rotate(4deg) translate(0px, 0px); -webkit-transform: rotate(4deg) translate(0px, 0px);
-os-transform: rotate(4deg) translate(0px, 0px); max-width: 700px;transform-origin: center; box-shadow: 5px 5px 30px rgb(97 55 36 / 10%);}



.itv--02 .itv-video .video-tag { }
.itv--02 {  max-width: 1300px;}
.itv--02 .itv-video {}
.itv--02 .video-tag {  z-index: 2;position: relative; box-shadow:none; }
.itv--02 .itv-video-line-deco {  top: 150px; bottom: auto;position: absolute;right: -100em;}
.itv--02 .itv-point-text { top: 40%; right: -320px; position: absolute; z-index: 3;}
.itv--02 .itv-point-text .text-as-img {background: #f5e7d9;  box-shadow: 10px 10px 0px #222;}
.itv--02 .go-itv-full {}
.photo-fixed { background: url("../img/bottom-full-photo-2.jpg") no-repeat; height:450px; 
background: url("../img/droneshot-with-sea3.jpg") no-repeat; background-size: cover;  background-attachment: fixed;  background-position: top center; }
.itv--02 .video-photo-temp { display:none;}

.fs-a--1 { margin-top: 300px; margin-bottom: 300px;}
.fs-a--1 .spacer .text-nobox { font-size: 18px; }
.fs-a--1 .fixed-el-fixed { background: #f5e7d9; }
.fs-a--1 .fixed-graphic .slider-item img { max-width:1000px; display: block; margin: 0 auto; 
 width: 1000px; top: 50%; margin-top: -400px;}
.fs-a--1  .spacer .text-nobox .half { background:#fff; padding: 20px;border: 1px solid #111; }
.spacer .text-nobox p { margin: 7px auto; }

#S02_05 img {border: 1px solid #111; box-shadow: 10px 10px 0px #111; box-shadow: 10px 10px 0px #d8c5b3;}
#S02_06 img {border: 1px solid #111; box-shadow: 10px 10px 0px #111; box-shadow: 10px 10px 0px #d8c5b3;}
#S01_05 { z-index:1; margin-bottom:0; }
#S01_05 img { display: none; width:100%; box-sizing:border-box; padding: 10px; background:#fff;  
transform: rotate(-4deg) translate(-80px, 0px); -webkit-transform: rotate(4deg) translate(-80px, 0px); 
-os-transform: rotate(-4deg) translate(-80px, 0px); max-width: 700px;transform-origin: center; box-shadow: 5px 5px 30px rgb(97 55 36 / 10%); }
/**최종 이미지 확정되면 PNG로 투명처리화해서 재 작업**/
/*.fs-a--1 .slider-item { transform: scale(1.5); transform-origin: left center;}*/

.tt-silder-des { text-align: center; font-size: 16px; color:#222; margin-bottom: 10px; }
.tt-silder-des b { display: inline-block;padding: 0px 4px; border-radius: 2px; background: rgba(255,255,255,0.4);}


.para-with-beside-img { margin: 150px auto; z-index:2;  }
.para-with-beside-img > p { position: relative; z-index:1; }
.para-beside-img { z-index:0; position: absolute; width: 100%; left: 0; top: 0; height: 100%; }
.para-beside-img-01 {}
.img-dummy { position: absolute; }
.img-dummy img { position: absolute; }
.img-dummy-01 { right: 50%; margin-right: -950px; top: -250px; }
.img-dummy-02 { top: 0px; left: 50%;  margin-left: -100px; }
.img-dummy-03 { top: -800px; left: 50%; margin-left: 250px; }
#SM_FRAG_01 { bottom: 150px; left: 50px;}
#CAR_CRUSHED_01 {position: relative;}
#SM_FRAG_02 { left: 300px; bottom: -20px;}
#SM_FRAG_03 { left: 20px; bottom: -70px;}
#CAR_CRUSHED_02 {position: relative;  top: -200px; left: -750px;}
#SM_FRAG_04 { left: 180px;}
#SM_FRAG_05 { left: 220px; top: 20px;}
#SM_FRAG_06 { bottom: 200px; left: 80px;width:100px;}
#SM_FRAG_07 {position: relative; width: 400px; }

.img-holder > h4 {text-align: center;font-size: 20px; margin-bottom: 20px;  }
.gallery_title { display:block; margin: 20px auto; margin-bottom: 50px; }
.gallery-area { width:100%; box-sizing:border-box; padding: 80px 0; background:#222; }
.gallery-area-blackThem { background: #423c36; }
.gallery-area-blackThem .img-holder > h4 { color: #fff;  font-weight: normal; opacity: 0.8;}
.gallery-area-blackThem .caption { color: #fff;opacity: 0.5; }

.gallery-area-brownThem {background: #d8c5b3; background:#a79583; }
.gallery-area-brownThem .img-holder > h4 { color: #222;  font-weight: normal; }
.gallery-area-brownThem .caption { color: #444; }
.gallery-area-brownThem h3 {text-align: center;font-size: 20px; margin-bottom: 20px;} 

.map-switching-area {width:100%; margin: 70px auto; margin-top: 0px;  position: relative;}
.map-switching-area .location-btn-holder { width:100%; position: absolute; top:-10px;left:0;}
.map-switching-area .location-btn-holder ul { text-align: center; }
.map-switching-area .location-btn-holder ul li { display: inline-block; box-sizing:border-box; width: 150px; padding: 10px 20px; 
background: #b1a79f;color: #5f5b58; font-size: 17px; font-weight:bold;cursor: pointer;border: 1px solid #111; }
.map-switching-area .location-btn-holder ul li.on {  color: #000; background: #fff8f2; cursor:default; }
.map-switching-area .location-btn-holder ul li:hover { color:#000; }
.switching-map {width: 100%; max-width: 1000px;  margin: 0 auto; position: relative;  overflow: hidden;
  border: 1px solid #111; box-shadow: 15px 15px 0px #111;background: #d8c5b3;}
.switching-map .map-zoom {width: 100%; transition:all 0.5s ease 0s;}
.switching-map .map-zoom .each-loca-map { position: relative;width: 100%; }
.switching-map .map-zoom .loca--1 { opacity:1; }
.switching-map .map-zoom .loca--2 { position: absolute; top: 0; left:0;opacity:0; }
.switching-map .map-zoom .each-loca-map .map-bf { position: relative;opacity:1; }
.switching-map .map-zoom .each-loca-map .map-aft { position: absolute;  top: 0; left:0;opacity:0;}
.switching-map .map-zoom .each-loca-map > div  { width: 100%;}
.switching-map .map-zoom .each-loca-map > div > img { width: 100%;}
.bf-aft-btn-holder {width:100%;  position: absolute; left: 0; bottom: 15px;z-index:1;}
.bf-aft-btn-holder ul { text-align: center;  }
.bf-aft-btn-holder ul li { display: inline-block; box-sizing:border-box;  padding: 5px 20px;
background:#111; color: #b7b7b7; font-size: 18px; font-weight:bold;  border-radius: 4px;margin: 0px 2px; cursor: pointer;border: 2px solid transparent;}
.bf-aft-btn-holder ul li.on { color:#fff; background: #f18500; cursor:default;  }
.bf-aft-btn-holder ul li:hover { color:#fff; }
.map-switching-area .ref { position: absolute; bottom: -40px; width:100%;  text-align: center; font-size: 13px;opacity: 0.7;}

.fixed-slider-area .fixed-el-fixed { border: 0px; }
.fs-a--2 { }
.fs-a--2 .spacer .text-box { font-size: 19px; text-align: left; }

#TT_HOLDER_03 { /* box-shadow: rgb(216 197 179) 10px 10px 0px; */  border: 1px solid rgb(216 197 179);  }
#TT_HOLDER_04 { box-shadow: rgb(34, 34, 34) 10px 10px 0px; border: 1px solid rgb(17, 17, 17); }
#TT_HOLDER_05 { box-shadow: rgb(34, 34, 34) 10px 10px 0px; border: 1px solid rgb(17, 17, 17); }

.pulseicon-holder { position: relative;  width: 700px; margin: 0 auto;  border: 1px solid #111;box-shadow: 10px 10px 0px #111;}
.pulseicon-holder > img {display:block; margin: 0 auto; position: relative;  z-index:1; width:100%; }
.pulse {position:absolute;   z-index: 2;} 
.pulse--1 { top: 60px; right: 140px;} 
.pulse--2 { top: 260px; left: 170px;} 
.pulsing-icon { position:relative; width: 10px; height: 10px; border-radius: 100%; box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.75); background:#FF9800;border: 2px solid #fff; }
.pulsing-icon:after { content: "";  border-radius: 100%;  height: 300%; width: 300%; position: absolute; margin: -100% 0 0 -100%;
 box-shadow: 0 0 6px 2px #b96e00; animation: pulsate 1s ease-out; animation-iteration-count: infinite; animation-delay: 1.1s;}

@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    50% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}

.itv--03  { max-width: 1100px; margin: 150px auto; } 
.itv--03 .itv-video .video-tag {}
.itv--03 .video-tag {  z-index: 2;position: relative;}
.itv--03 .itv-video-line-deco {  top: 150px; bottom: auto;position: absolute;left: -100em;}
.itv--03 .itv-point-text { bottom: 0%; right: auto; left: 50%;  margin-left: 250px; position: absolute;z-index:2;}
.itv--03 .itv-point-text .text-as-img { background: #f5e7d9; box-shadow: 10px 10px 0px #222;}
.itv--03 .video-tag.video-shadow-bottom  { box-shadow: 20px -20px 0px #222; }
.itv--03 .go-itv-full {}
.itv--03 .go-itv-full { left: 0;  margin-left: 0;}
.itv--03 .go-itv-full p { text-align: left; }
.itv--03 .video-photo-temp { display:none; }

#S03_01 { width:100%; } 
#S03_01  .img-float-wrapper  { max-width: 1000px;   margin: 0 auto;  position: relative; z-index: 2;} 
#S03_01::after {   clear: both; content:""; display:block;  }
#S03_09 {}
#S03_09 .caption { text-align: center; }
#S03_09 > img { border: 1px solid #111;  box-shadow: 10px 10px 0px #fff;}

#S04_01 {  max-width: 1200px; margin: 0 auto;  display:none;}
#S04_01 img { width:100%;  box-shadow: 15px 15px 0px #000;} 


.img-float-left { float: left;  width: 800px; border: 1px solid #111; box-shadow: 10px 10px 0px #fff;}
.img-float-right { float: right; top:-30px; width: 800px; border: 1px solid #111;}

.fs-a--3 { display:none;} 
.fs-a--3 .slider-item img { left: 0; }
.fs-a--2 .spacer .text-box { max-width: 550px; line-height: 1.6;}
.spacer .text-nobox { line-height: 1.55;}


.acc-list-holder { margin: 50px auto; width: 100%;  background:#fff; position: relative; margin-top:0;} 
.acc-list-holder .acc-list-wrap {box-sizing: border-box; padding: 30px;}
.acc-list-holder .acc-list-wrap > h3 { text-align:center; font-size: 20px; font-weight:bold; color: #333; }
.acc-list-holder .acc-list-wrap .info { font-size: 13px; text-align: center;color: #333; opacity: 0.8;}
.acc-list-holder .acc-list-wrap .acc-icon-box { margin: 0 auto; margin-top: 30px; max-width: 550px;position: relative; }
.acc-list-holder .acc-list-wrap .legend { margin: 20px auto;  }
.acc-list-holder .acc-list-wrap .legend ul { text-align: center; width: 100%;}
.acc-list-holder .acc-list-wrap .legend ul li { display: inline-block; vertical-align: top; text-align: center; 
font-size: 14px; line-height: 15px;  color: #333; margin: 0px 10px; }
.acc-list-holder .acc-list-wrap .legend ul li span.box { vertical-align: top; width: 30px; height: 15px; display: inline-block;  margin-right: 8px; }
.box--1 { background: #f35839; background: #db2400; }
.box--2 { background: #e87e47; background: #f25300;}
.box--3 { background: #ecbe99; background: #e3a26d; }

.acc-list-holder .acc-list-wrap .acc-icon-box .svg-holder {}
#ACC_ICON_LIST { overflow: visible; }
.year-label { font-size: 13px; font-weight: bold; fill: #555;}
.acc-icon { cursor: pointer;}
.acc-list-holder .tooltip {position: absolute; background:#fff; text-align: left; padding:10px;
border: 1px solid #ddd; z-index: 2;  font-family: 'Noto Sans KR', 'notokr-regular', 'Apple SD Gothic Neo','맑은 고딕'; min-width: 180px; } 
.acc-list-holder .tooltip p {font-size:14px; line-height:1.5; }
.acc-list-holder .tooltip .acc-date { font-weight:bold; color:#111; }
.acc-list-holder .tooltip .acc-type {  }
.acc-list-holder .tooltip .acc-type .head {  font-weight: bold; color: #ff8514; }
.acc-list-holder .tooltip .close-btn { position: absolute; color: #222;
 top: 5px; cursor: pointer; right: 10px; opacity: 0.7; font-size: 28px; line-height: 28px; display:none; }



.itv--04  { max-width: 1100px; margin: 150px auto; } 
.itv--04 .itv-video .video-tag {}
.itv--04 .video-tag {  z-index: 2;position: relative;}
.itv--04 .itv-video-line-deco {  top: 150px; bottom: auto;position: absolute;left: -100em;}
.itv--04 .itv-point-text { bottom: -30%; right: auto; left: 50%;  margin-left: 250px; position: absolute;z-index:2;}
.itv--04 .itv-point-text .text-as-img { background: #f5e7d9; box-shadow: 10px 10px 0px #222;}
.itv--04 .go-itv-full {}
.itv--04 .go-itv-full { left: 0;  margin-left: 0;}
.itv--04 .go-itv-full p { text-align: left; }
.itv--04 .video-photo-temp { display:none; }
.itv--04 .video-tag.video-shadow-bottom { box-shadow:none;}

.itv--05  { max-width: 1100px; margin: 150px auto; } 
.itv--05 .itv-video .video-tag {}
.itv--05 .video-tag {  z-index: 2;position: relative;}
.itv--05 .itv-video-line-deco {  top: 150px; bottom: auto;position: absolute;left: -100em;}
.itv--05 .itv-point-text { bottom: -30%; right: auto; left: 50%;  margin-left: 250px; position: absolute;z-index:2;}
.itv--05 .itv-point-text .text-as-img { background: #f5e7d9; box-shadow: 10px 10px 0px #222;}
.itv--05 .go-itv-full {}
.itv--05 .go-itv-full { left: 0;  margin-left: 0;}
.itv--05 .go-itv-full p { text-align: left; }
.itv--05 .video-photo-temp { display:none; }

.video-holder h4 { text-align: center; margin-bottom: 15px; color:#222; font-size: 20px; font-weight:bold;display:none;}
.video-holder { width: 800px; margin: 100px auto; }
.video-holder .video-boxing { width:100%; height: 460px; background:#111; position: relative; border: 2px solid #222;  box-shadow: 10px 10px 0px #fff; }
.video-holder .des {color:#fff; font-size: 15px; opacity: 0.4; width:100%; text-align: center;  padding: 20px 0; }
.video-holder .video-boxing iframe { width: 800px; height: 460px; } 
.blank {display: none; } 
.video-holder .temp { color:#111; opacity: 0.8; }
.bottom-video-title { display:block; margin: 20px auto; margin-bottom: 0px;   position: relative;top: 25px; z-index: 1;}


.fixed-navi .navi-body .bar .step-txt p.s00 {top: -1%; }
.fixed-navi .navi-body .bar .step-txt p.s01 {top: 23%; }
.fixed-navi .navi-body .bar .step-txt p.s02 {top: 58%; }
.fixed-navi .navi-body .bar .step-txt p.s03 {top: 90%; }
.fixed-navi .navi-body .bar .step-txt p.s04  { display:none; }

.title-svg-m { display:none; }
 /* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

}
/* IE9,10 */
@media screen and (min-width:0\0){

}



/***** 노트북 *****/
@media screen and (max-width: 1500px) {

#S01_01 img { width: 750px; }
.itv--01 .video-mx-md { max-width: 750px; }
.switching-map { max-width: 850px; }


}

/***** 모바일 Portraits ****/
@media screen and (max-width: 800px) {
.img-pc { display:none; }
.img-m { display:block; }

.photo-temp { width: 100%; height: 500px; border: 1px solid #111; box-sizing: border-box; overflow: hidden;  } 
.photo-temp > img { height: 100%; width: auto; } 
.top-video-area .cover-text .text-holder > p {  font-size: 15.5px;}
.photo-temp { display: none; }

.container .story-header { padding-top: 40px; }
.top-video-area .top-video { display:block;  height: 400px; background: #948678;} 
.top-video-area .cover-text { display:none; }
.top-video-area .top-video .video-tag { height:100%; overflow:hidden; } 
.top-video-area .top-video .video-tag video { width:100%; }
.story-title { padding-top: 0; position: relative;top: -15px;}
.story-title .title-sub img { width: 260px; }
.title-svg-pc { display:none; } 
.title-svg-m { display:block; } 
.story-title .title-main { max-width: 280px;  margin: 20px auto; }
.intro-desc img { width: 100%; }

.each-sec { margin-top: 0; padding-top: 30px 0; }

#S01_01 {  box-sizing: border-box;  padding: 0px 12px; padding: 0; }
#S01_01 img { width:100%; }
img.img-shadow-bottom {  box-shadow: 10px 10px 0px #222;}

.text-as-img {  padding: 0; padding-left: 20px; margin: 40px 0; }
.text-as-img > img { width: 100%; }
.tai--01 { width: 270px; }

.fixed-slider-horizon .fixed-graphic .slider-item img { width: 1000px;left: -100px; }
.spacer .text-nobox { padding: 0px 12px; }
.spacer .text-box { background: transparent;color: #fff; font-size: 16px; text-shadow: 1px 1px 2px #111;}
.fixed-slider-area .fixed-el-fixed {  border: 0px solid #111;}
.fs-a--1 .spacer .text-nobox { line-height: 1.6; }

.pulseicon-holder { width: 90%; }
.pulse--1 {  top: 10%; right: 10%; }
.pulse--2 {  top: 55%; left: 20%;}

.itv-holder  { margin: 40px 0; margin-top: 80px;}
.itv-holder .itv-point-text .text-as-img { margin: 0; box-shadow:none; background:none;padding: 0; }

.bpd--01 {  width: 200%; top: 200px;}

.itv--01 {  padding-bottom: 140px; }
.itv--01 .itv-point-text { left:0; margin-left:0; top: auto; bottom: -130px; }
.itv--01 .itv-point-text .text-as-img { width: 300px; margin:0;  }
.itv--01 .itv-video-line-deco { bottom: 50px; }
.itv--01 .itv-video { border:none;}
.itv--01 .itv-video .video-tag {   border-radius: 10px;overflow: hidden;}

.itv--02 {  padding-bottom: 100px; }
.itv--02 .itv-point-text .text-as-img { width: 320px; } 
.itv--02 .itv-point-text {  left: 0; margin-left: 0;bottom: -100px; top: auto;}
.itv--02 .itv-video { border:none;}
.itv--02 .itv-video .video-tag {   border-radius: 10px;overflow: hidden;}


.fs-a--1 .spacer .text-nobox { font-size: 16px; }

.slider-body ul li { min-height: inherit;}
.gallery-slider { margin-top: 0;}
.gallery-slider .arrow { background: rgba(255,255,255,0.8); box-sizing: border-box; padding: 5px; width: 30px; }
.gallery-slider .prev { left:0; }
.gallery-slider .next { right: 0; }
.gallery-slider { margin-top: 20px; }
.img-title {  font-size: 15px; margin-bottom: 10px; }
.img-holder > h4 { font-size: 18px;  margin-bottom: 10px;}

.tt-silder-des {font-size: 14px;}

.acc-list-holder { background: #fffbf8;  margin: 100px auto; }
.acc-list-holder .acc-list-wrap { box-sizing: border-box; padding: 30px 10px; }
.acc-list-holder .acc-list-wrap > h3 {  color: #66615c; font-size: 18px; text-shadow: 1px 1px 0px #fff;}
.acc-list-holder .acc-list-wrap .legend ul li { margin: 0px 5px; font-size: 13px; }
.acc-list-holder .acc-list-wrap .legend ul li span.box { width: 20px; }
.acc-list-holder .acc-list-wrap .acc-icon-box .svg-holder { width: 100%; box-sizing: border-box; padding-left: 40px; }
#ACC_ICON_LIST { margin: 0 auto; display: block; }
.para-with-beside-img { margin-bottom: 50px; }
.img-dummy-01 { display:none; }
.img-dummy-03 { margin-left: 0; transform: scale(0.5); -webkit-transform: scale(0.5); 
-os-transform: scale(0.5); }
.img-dummy-02 {  margin-left: 0; left: 0px; top: -50px;}
#CAR_CRUSHED_02 { left: -350px; top: -200px;}




.tai--02 { width: 220px; }
#S01_04 img { max-width: 320px; transform: rotate(-4deg) translate(0px, 0px); -webkit-transform: rotate(-4deg) translate(0px, 0px);   -os-transform: rotate(-4deg) translate(0px, 0px); }

#S01_08 {  box-sizing: border-box; width: 100%; padding: 0px 20px;}
#S01_08 img {width:100%:}

#S01_09 img { max-width: 320px; transform: rotate(4deg) translate(0px, 0px); -webkit-transform: rotate(4deg) translate(0px, 0px);   -os-transform: rotate(4deg) translate(0px, 0px); }



.fixed-slider-horizon .fixed-graphic .slider-item { height: auto; }
.fixed-slider-horizon .fixed-graphic .slider-item img { width: 140%;left: -20%;    top: 50%;
    margin-top: 20%;}

.gallery-area { padding: 25px 0; }
.gallery_title { width:85%; max-width: 300px; margin: 20px auto; }

.gallery-area-brownThem .img-holder > h4 {  font-size: 16px;  font-weight: bold;text-align: left;}
.gallery-area-brownThem .caption { padding: 0; }
.gallery-area-brownThem h3 { font-size: 16px;  font-weight: bold;}
.map-switching-area { box-sizing: border-box; padding: 0px 10px;}
.switching-map { box-shadow:none;     max-width: 360px;}
.map-switching-area .location-btn-holder { top:-5px; }
.map-switching-area .location-btn-holder ul li { border:none; font-size: 15px; padding: 7px 20px; width: 120px; border: 1px solid #111; }
.map-switching-area .ref { bottom: -20px; font-size: 12px; }
.bf-aft-btn-holder { position: relative;  margin-top: 5px;bottom: auto;}
.bf-aft-btn-holder ul li { font-size: 16px; }
.bf-aft-btn-holder ul li.on {background: #f57c00;}
#S02_05 { width: 100%; box-sizing: border-box;  padding: 0px 15px; }
#S02_06 { width: 100%; box-sizing: border-box;  padding: 0px 15px; }


.itv--03 {  padding-bottom: 70px; }
.itv--03 .itv-point-text .text-as-img { width: 320px; } 
.itv--03 .itv-point-text {  left: 0; margin-left: 0;bottom: -70px; top: auto;}
.itv--03 .video-tag.video-shadow-bottom { box-shadow:none;}
.itv--03 .itv-video { border:none;}
.itv--03 .itv-video .video-tag {   border-radius: 10px;overflow: hidden;}

#TT_HOLDER_03 { box-shadow: none; border: none; } 
#TT_HOLDER_04 {  box-shadow: none; }
#TT_HOLDER_05 {  box-shadow: none; }
.tt-slider .caption { padding: 0; }

.tai--03 { width: 240px; }

.img-float-left { float: none; width: 90%; left: 2.5%; position: relative; }
.img-float-right { width: 90%;position: relative; top: -10px; }
.bpd--02 {  width: 250%;  top: 200px;}

.itv--04 {  padding-bottom: 130px; }
.itv--04 .itv-point-text .text-as-img { width: 300px; } 
.itv--04 .itv-point-text {  left: 0; margin-left: 0;bottom: -130px; top: auto;}
.itv--04 .video-tag.video-shadow-bottom { box-shadow:none;}
.itv--04 .itv-video { border:none;}
.itv--04 .itv-video .video-tag {   border-radius: 10px;overflow: hidden;}


.itv--05 {  padding-bottom: 130px; }
.itv--05 .itv-point-text .text-as-img { width: 300px; } 
.itv--05 .itv-point-text {  left: 0; margin-left: 0;bottom: -130px; top: auto;}
.itv--05 .video-tag.video-shadow-bottom { box-shadow:none;}
.itv--05 .itv-video { border:none;}
.itv--05 .itv-video .video-tag {   border-radius: 10px;overflow: hidden;}
.fs-a--2 .video-fullScreen video { left: 0; /*width: auto; height: 90%; top: 5%;  left: 50%; margin-left: -50%; */ width: 100%; position: relative; }
#S03_09 > img { border:none; box-shadow:none; }
.para-holder p { }
.para-holder p b.block { display:block;  margin: 20px auto;   }

.video-holder h4 { font-size: 17px; }
.video-holder {  width:100%; box-sizing: border-box; padding: 0px 15px; margin: 55px auto; }
.video-holder .video-boxing { position: relative; height:auto; width:100%; }
.video-holder .video-boxing p { padding-top: 120px; }
.blank {display: block; position: relative; width:100%; height:auto; } 
.blank img { width:100%; height:auto; }
.video-holder iframe { position: absolute; top: 0; left:0;  }
.video-holder .temp { font-size: 13px; }
.bottom-video-title  { width:85%; max-width: 300px; margin: 20px auto;  top: 0;margin-bottom: 10px;}

.photo-fixed {background: url("../img/s01-01-m.jpg"); height:200px; 
background-size: auto 500px;background-position: bottom center;    background-attachment: fixed;}

}


/****** 모바일 Landscape *****/
@media (max-width: 800px) and (orientation: landscape){


}

/**************/
/**  02 용   **/
/**************/