/**************/
/**  02 용   **/
/**************/

/**** PC 1980 ****/
/** 영상 임시 블락 > 사진으로 대체해둠 **/
.bg-color-f5e7d9  {  background:#f5e7d9; }
.nav-wrap.nav-with-bg { background: #d8c5b3; }
.top-video-area .top-video  { display:none;}
.photo-temp { position: relative; max-width: 1500px; margin: 0 auto; display: block;  border-top: 1px solid #111; border-bottom: 1px solid #111;}
.video-photo-temp img { width:100%; }
#S01_01 { margin: 0 auto; }
img.img-shadow-bottom {  box-shadow: 20px 20px 0px #222;}

.itv--01  { max-width: 1300px;  margin-bottom: 200px; }
.itv--01 .itv-video .video-tag { display:none;}
.itv--01 .video-photo-temp {position: relative; } 
.itv--01 .video-mx-md {  max-width: 1200px; }
.itv--01 .itv-video-line-deco { position: absolute;  z-index:0; right: auto; left: -100em;top: auto; bottom: 12em;}
.itv-video-line-deco .line-body { width:100em; height:1px; background:#222; }
.itv--01 .itv-point-text {position: absolute;z-index:2;  top: auto; bottom: -120px; left: 50%;margin-left: -225px;}  
.itv--01 .itv-point-text .text-as-img { background: #f5e7d9;}
.itv--01 .go-itv-full { left: 0;  margin-left: 0;}
.itv--01 .go-itv-full p { text-align: left; }

.itv--02 .itv-video .video-tag { display:none;}
.itv--02 {  max-width: 1300px;}
.itv--02 .itv-video {}
.itv--02 .video-tag {  z-index: 2;position: relative;}
.itv--02 .itv-video-line-deco {  top: 150px; bottom: auto;position: absolute;right: -100em;}
.itv--02 .itv-point-text { top: 40%; right: -320px; position: absolute;}
.itv--02 .itv-point-text .text-as-img {background: #f5e7d9;}
.itv--02 .go-itv-full {}
.photo-fixed { background: url("../img/intro-top-temp.jpg") no-repeat; background-size: cover;  background-attachment: fixed; }


.fs-a--1 .spacer .text-nobox { font-size: 18px; }
.fs-a--1 .slider-item { transform: scale(1.5); transform-origin: left center;}

.para-with-beside-img { margin: 200px auto; }
.para-with-beside-img > p { position: relative; z-index:1; }
.para-beside-img { z-index:0; position: absolute; width: 100%; left: 0; top: 0; height: 100%; }
.para-beside-img-01 {}
.img-dummy { position: absolute; }
.img-dummy img { position: absolute; }
.img-dummy-01 { right: 50%; margin-right: -950px; top: -250px; }
.img-dummy-02 { top: 0px; left: 50%;  margin-left: -700px; }
.img-dummy-03 { bottom: -400px; left: 50%; margin-left: -700px; }
#SM_FRAG_01 { bottom: 150px; left: 50px;}
#CAR_CRUSHED_01 {position: relative;}
#SM_FRAG_02 { left: 300px; bottom: -20px;}
#SM_FRAG_03 { left: 20px; bottom: -70px;}
#CAR_CRUSHED_02 {position: relative;  top: -200px; left: -750px;}
#SM_FRAG_04 { left: 180px;}
#SM_FRAG_05 { left: 220px; top: 20px;}
#SM_FRAG_06 { bottom: 200px; left: 80px;}
#SM_FRAG_07 {position: relative;}

#TT_HOLDER_03 { box-shadow: rgb(34, 34, 34) 10px 10px 0px; border: 1px solid rgb(17, 17, 17); }
#TT_HOLDER_04 { box-shadow: rgb(34, 34, 34) 10px 10px 0px; border: 1px solid rgb(17, 17, 17); }

.pulseicon-holder { position: relative;  width: 700px; margin: 0 auto;  border: 1px solid #111;box-shadow: 10px 10px 0px #111;}
.pulseicon-holder > img {display:block; margin: 0 auto; position: relative;  z-index:1; width:100%; }
.pulse {position:absolute;   z-index: 2;} 
.pulse--1 { top: 60px; right: 140px;} 
.pulse--2 { top: 260px; left: 170px;} 
.pulsing-icon { position:relative; width: 10px; height: 10px; border-radius: 100%; box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.75); background:#FF9800;border: 2px solid #fff; }
.pulsing-icon:after { content: "";  border-radius: 100%;  height: 300%; width: 300%; position: absolute; margin: -100% 0 0 -100%;
 box-shadow: 0 0 6px 2px #b96e00; animation: pulsate 1s ease-out; animation-iteration-count: infinite; animation-delay: 1.1s;}

@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    50% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}

.itv--03  { max-width: 1100px; margin: 150px auto; } 
.itv--03 .itv-video .video-tag { display:none;}
.itv--03 .video-tag {  z-index: 2;position: relative;}
.itv--03 .itv-video-line-deco {  top: 150px; bottom: auto;position: absolute;right: -100em;}
.itv--03 .itv-point-text { bottom: -20%; right: -320px; position: absolute;}
.itv--03 .itv-point-text .text-as-img {background: #111;}
.itv--03 .go-itv-full {}
.itv--03 .go-itv-full { left: 0;  margin-left: 0;}
.itv--03 .go-itv-full p { text-align: left; }


#S03_01 { max-width: 1000px;} 
#S03_01::after {   clear: both; content:""; display:block;  }
.img-float-left { float: left;  width: 800px; border: 1px solid #111; box-shadow: 10px 10px 0px #b9a897;}
.img-float-right { float: right; top:-30px; width: 800px; border: 1px solid #111;}


.fs-a--3 .slider-item img { left: 0; }


 /* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

}
/* IE9,10 */
@media screen and (min-width:0\0){

}



/***** 노트북 *****/
@media screen and (max-width: 1380px) {



}

/***** 모바일 Portraits ****/
@media screen and (max-width: 800px) {
.img-pc { display:none; }
.img-m { display:block; }

}


/****** 모바일 Landscape *****/
@media (max-width: 800px) and (orientation: landscape){


}

/**************/
/**  02 용   **/
/**************/